/* textarea{
    background: transparent;
    border-radius: 5px;
} */
.img-thumbnail{
    height: 85%;
    width: 85%;
    margin: 25px;
}
.card-body{
    padding: 0 25px;
}
.card-footer{
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border-top: none;

}
.btn{
    border: 0;
}